<div>
  <h2>Add User</h2>
  <form (submit)="onSubmit()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="newUser.firstName" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="newUser.lastName" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="newUser.mail" required>

    <!-- Add input fields for permissions -->
    <label for="readPermission">Read Permission:</label>
    <input type="checkbox" id="readPermission" name="readPermission" [(ngModel)]="newUser.readUserPermission">

    <label for="createPermission">Create Permission:</label>
    <input type="checkbox" id="createPermission" name="createPermission" [(ngModel)]="newUser.createUserPermission">

    <label for="updatePermission">Update Permission:</label>
    <input type="checkbox" id="updatePermission" name="updatePermission" [(ngModel)]="newUser.updateUserPermission">

    <label for="deletePermission">Delete Permission:</label>
    <input type="checkbox" id="deletePermission" name="deletePermission" [(ngModel)]="newUser.deleteUserPermission">

    <button type="submit">Add User</button>
  </form>
</div>
