<div *ngIf="readUserPermission">
  <h2>User List</h2>
  <table>
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Read Permission</th>
      <th>Create Permission</th>
      <th>Update Permission</th>
      <th>Delete Permission</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.mail }}</td>
      <td>{{ user.readUserPermission ? 'Yes' : 'No' }}</td>
      <td>{{ user.createUserPermission ? 'Yes' : 'No' }}</td>
      <td>{{ user.updateUserPermission ? 'Yes' : 'No' }}</td>
      <td>{{ user.deleteUserPermission ? 'Yes' : 'No' }}</td>
      <td>
        <a [routerLink]="['/edit', user.userId]" *ngIf="user.updateUserPermission">Edit</a>
        <button *ngIf="user.deleteUserPermission" (click)="deleteUser(user.userId)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!readUserPermission">
  <p>You don't have permission to view users.</p>
</div>
